<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pushnotification.nativedisplay">

    <application>
    <activity android:name=".RatingActivity"
        android:screenOrientation="portrait"
        android:exported="true">
    </activity>
        <activity android:name=".InputActivity"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>
    </application>

</manifest>

